<div ng-app="app" ng-controller="appController">
	<div align="right"> 
		<label style="font-size: 150%;color: black; font-family: Arial, Helvetica, sans-serif;"> Search </label> 
    	<input ng-model="q" id="search" class="form-control" placeholder="Filter text">
    </div>
    <ul>
        <li ng-repeat="image in $ctrl.images | filter:q | startFrom:currentPage*pageSize | limitTo:pageSize">
  	      <div>
        	<label>{{image.title}}</label>
        	<br>
            <img style="size: 100%" id={{image.id}} alt="" src=https://farm{{image.farm}}.staticflickr.com/{{image.server}}/{{image.id}}_{{image.secret}}.jpg>
         </div>
        </li>
    </ul>
    <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
        Previous
    </button>
    {{currentPage+1}}/{{numberOfPages()}}
    <button ng-disabled="currentPage >= getData().length/pageSize - 1" ng-click="currentPage=currentPage+1">
        Next
    </button>
</div>
